<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <!-- Generic data mappers -->
        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\DataMapperInterface"
                 alias="Setono\SyliusMeilisearchPlugin\DataMapper\CompositeDataMapper"/>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\CompositeDataMapper"/>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\UrlDataMapper">
            <argument type="service" id="setono_sylius_meilisearch.url_generator.composite"/>

            <tag name="setono_sylius_meilisearch.data_mapper" priority="100"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\ImageDataMapper">
            <argument type="service" id="liip_imagine.cache.manager"/>

            <tag name="setono_sylius_meilisearch.data_mapper" priority="100"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\IndexableDataMapper">
            <tag name="setono_sylius_meilisearch.data_mapper" priority="100"/>
        </service>

        <!-- Product data mappers -->
        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\ProductDataMapper">
            <tag name="setono_sylius_meilisearch.data_mapper" priority="200"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\PriceDataMapper">
            <argument type="service" id="sylius.repository.channel"/>
            <argument type="service" id="sylius.currency_converter"/>
            <argument type="service" id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Provider\ProductPricesProviderInterface" />

            <tag name="setono_sylius_meilisearch.data_mapper" priority="190"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Formatter\NoFormatTargetPropertyValuesFormatter" />
        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Formatter\FlatArrayTargetPropertyValuesFormatter"/>

        <service
            id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Provider\ProductPricesProviderInterface"
            class="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Provider\ProductPricesProvider"
        >
            <argument type="service" id="sylius.product_variant_resolver.default" />
        </service>

        <service
            id="setono.sylius_meilisearch_plugin.data_mapper.product.provider.reflection_attribute_values_provider.attribute"
            class="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Provider\ReflectionAttributeValuesProvider"
        >
            <argument>\Setono\SyliusMeilisearchPlugin\Document\Attribute\MapProductAttribute</argument>
        </service>

        <service
            id="setono.sylius_meilisearch_plugin.data_mapper.product.provider.reflection_attribute_values_provider.option"
            class="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Provider\ReflectionAttributeValuesProvider"
        >
            <argument>\Setono\SyliusMeilisearchPlugin\Document\Attribute\MapProductOption</argument>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\TaxonCodesDataMapper">
            <argument>%sylius_shop.product_grid.include_all_descendants%</argument>

            <tag name="setono_sylius_meilisearch.data_mapper" priority="180"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\AttributesDataMapper">
            <argument type="service" id="setono.sylius_meilisearch_plugin.data_mapper.product.provider.reflection_attribute_values_provider.attribute" />
            <argument type="service" id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Formatter\NoFormatTargetPropertyValuesFormatter" />
            <tag name="setono_sylius_meilisearch.data_mapper" priority="170"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\OptionsDataMapper">
            <argument type="service" id="setono.sylius_meilisearch_plugin.data_mapper.product.provider.reflection_attribute_values_provider.option" />
            <argument type="service" id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\Formatter\FlatArrayTargetPropertyValuesFormatter" />
            <tag name="setono_sylius_meilisearch.data_mapper" priority="160"/>
        </service>

        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Product\PopularityDataMapper">
            <argument type="service" id="doctrine"/>
            <argument>%sylius.model.order.class%</argument>
            <argument>%sylius.model.order_item.class%</argument>

            <tag name="setono_sylius_meilisearch.data_mapper" priority="160"/>
        </service>

        <!-- Taxon data mappers -->
        <service id="Setono\SyliusMeilisearchPlugin\DataMapper\Taxon\TaxonDataMapper">
            <tag name="setono_sylius_meilisearch.data_mapper" priority="100"/>
        </service>
    </services>
</container>
