<div class="ui message ssm-no-results">
    <div class="header">
        {{ 'setono_sylius_meilisearch.form.search.no_results.header'|trans }}
    </div>
    <p>{{ 'setono_sylius_meilisearch.form.search.no_results.body'|trans }}</p>
</div>
