{# @var items \Sylius\Component\Core\Model\ProductInterface[] #}
{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui three cards">
        {% for item in items %}
            {{ include('@SyliusShop/Product/_box.html.twig', { product: item }) }}
        {% endfor %}
    </div>
{% endblock %}
