{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="six wide column">
        {{ form_row(form.index) }}
    </div>
    <div class="ten wide column">
        {{ form_row(form.settings) }}
    </div>
</div>
