<div id="ssm-overlay">
    <div class="ssm-loader"></div>
</div>
<style>
    #ssm-overlay {
        display: none;
        position: fixed;
        z-index: 9999;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur(5px);
    }

    #ssm-overlay div {
        --d:44px;

        margin: 10% auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        color: #000;
        box-shadow:
            calc(1*var(--d))      calc(0*var(--d))     0 0,
            calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
            calc(0*var(--d))      calc(1*var(--d))     0 2px,
            calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
            calc(-1*var(--d))     calc(0*var(--d))     0 4px,
            calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
            calc(0*var(--d))      calc(-1*var(--d))    0 6px;
        animation: l27 1s infinite steps(8);
    }

    @keyframes l27 {
        100% {transform: rotate(1turn)}
    }
</style>
