<div class="aa-ItemWrapper">
    <div class="aa-ItemContent">
        <div class="aa-ItemIcon aa-ItemIcon--alignTop">
            <img src="${item.image}" alt="${item.name}" width="100">
        </div>
        <div class="aa-ItemContentBody">
            <div class="aa-ItemContentTitle">
                ${components.Highlight({
                    hit: item,
                    attribute: 'name',
                })}
            </div>
        </div>
    </div>
</div>
