{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="ui center aligned column">
    {{ form_start(form, { 'action': path('setono_sylius_meilisearch_shop_search'), 'attr': { 'class': 'ui form' } }) }}
        <div class="two fields">
            {{ form_row(form.q) }}
            <button type="submit" class="ui icon button">
                {{ 'setono_sylius_meilisearch.ui.search'|trans }}
                <i class="search icon"></i>
            </button>
        </div>
    {{ form_end(form) }}
</div>
